{% extends 'base.html' %}

{% block title %}
	- {{page_data}}
{% endblock %}

{% block content %}

<form action="/step/2" method="get" name="form_days" id="form_days">
	<table class="order">
		<tr>
			<th></th>
			<th>{{strings.step1_name}}</th>
			<th colspan="2">{{strings.step1_birthday}}</th>
			<th>{{strings.step1_language}}</th>
			<th>{{strings.step1_confirm}}</th>
		</tr>
		{% for line in lines %}
		<tr>
			<td class="counter"></td>
			<td>
				<input class="text" id="txt_nafn" name="name_{{forloop.counter0}}" value="">
			</td>
			<td>
				<select name="day_{{forloop.counter0}}" id="sel_day" class="select digit">
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
			</td>
			<td>
				<select name="mon_{{forloop.counter0}}" id="sel_mon" class="select">
					<option value="01">{{strings.step1_month1}}</option>
					<option value="02">{{strings.step1_month2}}</option>
					<option value="03">{{strings.step1_month3}}</option>
					<option value="04">{{strings.step1_month4}}</option>
					<option value="05">{{strings.step1_month5}}</option>
					<option value="06">{{strings.step1_month6}}</option>
					<option value="07">{{strings.step1_month7}}</option>
					<option value="08">{{strings.step1_month8}}</option>
					<option value="09">{{strings.step1_month9}}</option>
					<option value="10">{{strings.step1_month10}}</option>
					<option value="11">{{strings.step1_month11}}</option>
					<option value="12">{{strings.step1_month12}}</option>
				</select>
			</td>
			<td>
				<select name="lang_{{forloop.counter0}}" id="sel_lan" class="select">
					<option value="is" >{{strings.language_is}}</option>
					<option value="en" >{{strings.language_en}}</option>
					<option value="dk" >{{strings.language_dk}}</option>
					<option value="de" >{{strings.language_de}}</option>
					<!--<option value="ru">{{strings.language_ru}}</option>-->
				</select>
			</td>
			<td>
				<input class="chk" type="checkbox" name="confirmed_" value="confirmed" />
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="5">
				<input type="hidden" name="lang_id" value="{{locale}}" />
				<input type="hidden" name="lines" value="{{lines|length}}" />
				<input class="button" type="reset" value="{{strings.step1_button_start_over}}" onclick="hideAll(); showAndFocus('step2',document.number_of_names_form.number_of_names);"/>
				<input name="submit" type="submit" class="button" value="{{strings.step1_button_next}}" />
			</td>
		</tr>
	</table>
</form>	
{% endblock %}